<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web site created using Django Web Framework">
    <meta name="description" content="Created and Maintained by Devdoot Maji">
    <title>ToDo</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
  </head>
  <body>
    <div class="navigation">
      <form action="{% url 'logout' %}">
          <button class="btn2" name="logout" type="submit">LOGOUt</button>
      </form>
    </div>
    <div class="container">
      <div id="displayContent">
        <div class="title">
          {% load static %}
          <img src="{% static 'img/ToDo.png' %}" alt="Image" class="titleimg" />
        </div>
        <a class="btn1" name="taskAdd" type="submit" href="{% url 'addtask' %}">
          Add task
        </a>
        {% for todo in todos %}
        <div class="row">
          {% if todo.completed %}
          <div class="column1">
            <a name="taskDone" href="{% url 'donetask' todo.id %}" type="submit">
              {% load static %}
              <img class="strike interaction" src="{% static 'img/tick.png' %}" alt="Image"/>
            </a>
          </div>
          <div class="column2">
            <p class="todo_id strike">{{ todo.title }}</p>
            <p class="todo_content strike">{{ todo.content }}</p>
            <p class="taskDate strike">{{ todo.date }}</p>
          </div>
          <div class="column3">
            <a name="taskDelete" href="{% url 'deletetask' todo.id %}">
              {% load static %}
              <img class="strike interaction" src="{% static 'img/trash.png' %}" alt="Image"/>
            </a>
          </div>
        </div>
        {% else %}
        <div class="column1">
          <a name="taskDone" href="{% url 'donetask' todo.id %}" type="submit">
            {% load static %}
            <img class="interaction" src="{% static 'img/tick.png' %}" alt="Image"/>
          </a>
        </div>
        <div class="column2">
          <p class="todo_id">{{ todo.title }}</p>
          <p class="todo_content">{{ todo.content }}</p>
          <p class="taskDate">{{ todo.date }}</p>
        </div>
        <div class="column3">
          <a name="taskDelete" href="{% url 'deletetask' todo.id %}">
            {% load static %}
            <img class="interaction" src="{% static 'img/trash.png' %}" alt="Image"/>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </body>
</html>
